= content_tag_for :tr, proposal, :class => "row" do
  %td= proposal.title
  %td= link_to t('actions.edit'), edit_proposal_path(proposal)
  %td= link_to t('actions.delete'), proposal_path(proposal), :method => :delete, :confirm => t('actions.sure')
