%h1= t('proposals.edit')

.row
  .span5.offset1
    = form_for @proposal do |form|
      %fieldset
        = render 'form', :form => form

      .form-actions= form.submit :class => 'btn btn-primary'
